
hr{
    border: solid 2px blue;
}
h1{
    background-color: rgba(0, 0, 255, 0.527);
    color: cornflowerblue);
    padding: 10px 20px 10px 20px;
}
img{
    width: 180px;
    height: 150px;
    border-radius: 50%;
    float: left;
}
h3{
    line size: 12px;
}

.tudo{
    width: 60%;
    margin: 0 auto;
    padding: 30px 30px 30px 30px ;
    text-align: center;
    border: outset 10px rgba(0, 0, 255, 0.616) ;
}
.linha{
    clear: both;
}
.textdados{
    color: blue;
}
#dados{
    text-align: left;
    float: left;
    width: 60%;
}
#foto{
     width: 39%;
     float: left;
}
#coluna1{
    width: 49%;
    float: left;
    text-align: center;

}
#coluna2{
    width: 1%;
    height:300px;
    float: left;
    background-color: rgba(0, 0, 255, 0.068);
}
#coluna3{
    width: 49%;
    float: left;
}